<app-configure-github-actions *ngIf="sourceProvider === 'github' && buildProvider === 'github'"></app-configure-github-actions>
<app-configure-onedrive *ngIf="sourceProvider === 'onedrive' && buildProvider !== 'github'"></app-configure-onedrive>
<app-configure-dropbox *ngIf="sourceProvider === 'dropbox' && buildProvider !== 'github'"></app-configure-dropbox>
<app-configure-github *ngIf="sourceProvider === 'github' && buildProvider !== 'github'"></app-configure-github>
<app-configure-vsts-source *ngIf="sourceProvider === 'vsts' && buildProvider !== 'github'"></app-configure-vsts-source>
<app-configure-bitbucket *ngIf="sourceProvider === 'bitbucket' && buildProvider !== 'github'"></app-configure-bitbucket>
<app-configure-external *ngIf="sourceProvider === 'external' && buildProvider !== 'github'"></app-configure-external>
<app-configure-local-git *ngIf="sourceProvider === 'localgit' && buildProvider !== 'github'"></app-configure-local-git>
<app-configure-vsts-build *ngIf="buildProvider === 'vsts' && !wizard.hideVstsBuildConfigure"></app-configure-vsts-build>
<div class="footer">
  <button type="button" class="custom-button form-button" previousStep>{{'back' | translate}}</button>
  <button type="button" *ngIf="!wizard.hideConfigureStepContinueButton" class="custom-button form-button" nextStep>{{'continue' | translate}}</button>
</div>